click==7.1.2,<8.0
more-itertools>=8.6.0,<9.0
numpy>=1.19.0
ordered-set>=4.0.2
regex>=2020.11.13
pytorch-lightning==1.7.7
pytorch-metric-learning>=0.9.99
torch==1.12.1
torchmetrics>=0.10.1
torchtext==0.13.1
tqdm>=4.53.0

# conda install grpcio
# pip install faiss-cpu
