torch==1.7.1
numpy==1.19.4
tqdm==4.53.0
ordered-set==4.0.2
more-itertools==8.6.0
pytorch-metric-learning==0.9.95
scikit-learn==0.23.2
n2==0.1.7
nlpaug==1.1.2
unidecode==1.1.2
requests==2.25.1
python-Levenshtein==0.12.1
regex==2020.11.13
pytorch_lightning==1.1.6
